<mat-card>
    <h1>Studend Form</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psychometric </mat-label>
              <input matInput 
                [(ngModel)] = "psychometric " 
                name = "psychometric" 
                required>
            </mat-form-field>
          </p>           
          <p>
            <mat-form-field appearance="fill">
                <mat-label>ifPay</mat-label>
                <mat-select place-holder = "ifPay" [(ngModel)] = "pay" name = "pay" required>
                <mat-option  option *ngFor="let option of options" [value]="option.name" >
                    {{option.name}}
                    </mat-option>
                     
                </mat-select>
              </mat-form-field>       
          </p>                            
          <!-- <p>
            <mat-label>ifPay</mat-label>
            <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </p> -->
        <div *ngIf = !result>
            <button mat-raised-button color="primary"
            (click) = "predict()">
                     Predict
            </button>
        </div>
        <p *ngIf = result>
          <mat-form-field appearance="fill">
            <mat-label>{{result}}</mat-label>
            <mat-select [(ngModel)] = "result" name = "result">
              <mat-option value="Will Dropupt">Will Dropupt</mat-option>
            <mat-option value="Will not Dropupt">Will not Dropout</mat-option>
              </mat-select>
            </mat-form-field>       
        </p>  
        <div *ngIf = result>
          <button mat-raised-button color="primary"
          (click) = add()>
            Save
          </button>
        <button  *ngIf = result mat-raised-button color="primary"
        (click) = cancel()>
            Cancel
        </button>
    </div>

      </div>
    </form>
   </mat-card>



