<div *ngIf = "(authService.getUser()| async)"><div>

  <div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen = !addCustomerFormOpen">Add</button>      
  </div>
  <div>
    <customer-form *ngIf = "addCustomerFormOpen"
    (update) = "add($event)"
    (closeForm) = "addCustomerFormOpen = false" >
  </customer-form>
  </div>


<table mat-table [dataSource]="customers" class="mat-elevation-z8">
        
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element; let i=index">  
      <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
      <mat-form-field *ngIf = "i==rowToEdit" >
      <input          
        matInput
        [(ngModel)]="customerToEdit.name" 
        [value] = "element.name">
      </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef>Education</th>
      <td mat-cell *matCellDef="let element;let i=index">
      <span *ngIf = "i!=rowToEdit">{{element.education}}</span> 
      <mat-form-field *ngIf = "i==rowToEdit" >
      <input          
        matInput
        [(ngModel)]="customerToEdit.education" 
        [value] = "element.education">
      </mat-form-field>
      </td>
    </ng-container>

  
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef>Income</th>
      <td mat-cell *matCellDef="let element;let i=index"> 
      <span *ngIf = "i!=rowToEdit">{{element.income}}</span> 
      <mat-form-field *ngIf = "i==rowToEdit" >
      <input          
        matInput
        [(ngModel)]="customerToEdit.income" 
        [value] = "element.income">
      </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element;let i = index" >
          <button mat-raised-button
          color = "accent" (click) = "delete(element.id)">
            Delete
        </button>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
        <button *ngIf = "i!=rowToEdit" mat-raised-button
        (click) = "moveToEditState(i)">Edit</button> 
        <button 
        *ngIf = "i==rowToEdit" mat-raised-button color="primary"
        (click) = "updateCustomer()">update</button> 
        <button 
        *ngIf = "i==rowToEdit" mat-raised-button
        (click) = "rowToEdit = null">Cancel</button>                   
        </td>
        </ng-container>

        <ng-container matColumnDef="predict">
          <th mat-header-cell *matHeaderCellDef> Predict </th>
          <td mat-cell *matCellDef="let element;let i = index" >
            <button mat-raised-button *ngIf = !element.result
            color = "primary" (click) = "predict(i)">
              Predict
          </button>
          <button mat-raised-button *ngIf = element.result&&!element.saved
          color = "primary"  (click) = "updateResult(i)">
            Save
        </button>
        <span *ngIf = "element.saved">saved</span>
        </ng-container>


      <!-- Result Column -->
      <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element; let index = index">
      <span  [ngClass]="[element.result=='Yes' ? 'green' : 'red']">{{element.result}}</span></td>
      </ng-container>


        
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
