<mat-accordion>
    <mat-expansion-panel hideToggle
    *ngFor = "let post of posts$ | async;let i = index">
      <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
        {{post.numLike}}
        </mat-panel-description>
        <button mat-raised-button
        color = "primary" 
       (click) = "Like(post.id,post.numLike)">Like</button>
        <button mat-raised-button
        color = "accent" 
       (click) = "deletePost(post.id)">Delete</button>
      </mat-expansion-panel-header>
      <p> {{post.body}}</p>
    </mat-expansion-panel>
    </mat-accordion>