<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar  *ngIf = "(authService.getUser()|async)">Menu</mat-toolbar>
    <mat-nav-list  *ngIf = "(authService.getUser()|async)">
      <a mat-list-item routerLink="/form" routerLinkActive="active">Student-form</a>
      <a mat-list-item routerLink="/students" routerLinkActive="active">Students</a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Blog posts</a>
      <a mat-list-item routerLink="/saved" routerLinkActive="active">Saved posts</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>testA</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)">LogOut</a>

    </mat-toolbar>
    <!-- Add Content Here -->
    <h3 *ngIf = "!(authService.getUser()|async)">welcome</h3>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
