<mat-card>
    <h1>Customers Form</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Education</mat-label>
              <input matInput 
                [(ngModel)] = "education" 
                name = "education" 
                required>
            </mat-form-field>
          </p>           
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                required>
            </mat-form-field>
          </p> 

        <div>
            <button mat-raised-button color="primary"
            (click)="updateParent()"> 
                     Add Curstomer
            </button>
            <button mat-raised-button color="warm"
            (click)="tellToClose()"> 
                     Cancel
            </button>
        </div>
        <p *ngIf = "isError" style="color:red;">Education needs to be between 0 to 24 years</p>
      </div>
    </form>
   </mat-card>



