<table mat-table [dataSource]="students" class="mat-elevation-z8">
        
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <ng-container matColumnDef="math">
          <th mat-header-cell *matHeaderCellDef>math</th>
          <td mat-cell *matCellDef="let element; let i=index"> {{element.math}} </td>
        </ng-container>
    
        <ng-container matColumnDef="psychometric">
          <th mat-header-cell *matHeaderCellDef> psychometric </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.psychometric}} </td>
        </ng-container>
      
        <ng-container matColumnDef="pay">
          <th mat-header-cell *matHeaderCellDef> pay </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.pay}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> result </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.result}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element;let i = index" >
              <button mat-raised-button
              color = "accent" (click) = "delete(element.id)">
                Delete
            </button>
          </ng-container>
      
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    